<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HaterDate</title>
    <link href="~/Content/component.css" rel="stylesheet" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" /> 
    <link href="~/Content/themes/base/slider.css"  rel="stylesheet"/>
    <link href="~/Content/angular-slider.min.css" rel="stylesheet" />
    
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HaterDate", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/#/Profile">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="nav-link">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/#/Quiz">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            <span class="nav-link">Quiz</span>
                        </a>
                    </li>
                    <li>
                        <a href="/#/Match">
                            <span class="glyphicon glyphicon-heart"></span>
                            <span class="nav-link">Matches</span>
                        </a>
                    </li>
                    <li>
                        <a href="/#/Profile/:id">
                            <span class="glyphicon glyphicon-heart"></span>
                            <span class="nav-link">MyProfile</span>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
      @RenderBody()
    </div>
    <br />
    <footer>
    <p>&copy; @DateTime.Now.Year - HaterDate</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/angular-slider.min.js"></script>
    <script src="~/Scripts/svgcheckbx.js"></script>
    
  
    <script src="~/AngularApp/RouteConfig.js"></script>
    <script src="~/AngularApp/ProfileFactory.js"></script>
    <script src="~/AngularApp/Controllers/AppController.js"></script>
    <script src="~/AngularApp/JS/modernizr.custom.js"></script>
    <script src="~/AngularApp/JS/svgcheckbx.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    
    @RenderSection("scripts", required: false)
</body>
</html>
